# Pre-commit hooks
codespell>=2.3  # For codespell inline ignore comment support
git+https://github.com/AleksaC/hadolint-py.git
mypy
pip-tools
piptools-sync
pre-commit
ruff
shellcheck-py
shfmt-py
uv
validate-pyproject[all]
yamllint

# Development
ipython
twine

# Run time
apache-airflow==2.10.2 # Should match Dockerfile
django
django-extensions
django-filter
django-sql-explorer
djangorestframework
