# Build time
black
ipython
mypy
shellcheck-py
pip-tools
piptools-sync
pre-commit
twine

# Run time
apache-airflow==2.10.2 # Should match Dockerfile
django
django-extensions
django-filter
django-sql-explorer
djangorestframework
